<!--
Shows a single month on a calendar.
-->

<link rel="import" href="../quetzal-element/quetzal-element.html">
<link rel="import" href="../quetzal-calendar-day/quetzal-calendar-day.html">
<link rel="import" href="../quetzal-calendar-week/quetzal-calendar-week.html">

<polymer-element name="quetzal-calendar-month" extends="quetzal-element" attributes="culture date">

<template>

  <style>
  :host {
    display: table-row-group;
  }

  quetzal-calendar-week.outsideMonth {
    display: none;
  }

  quetzal-calendar-day.outsideMonth {
    visibility: hidden;
  }
  </style>

  <quetzal-calendar-week></quetzal-calendar-week>
  <quetzal-calendar-week></quetzal-calendar-week>
  <quetzal-calendar-week></quetzal-calendar-week>
  <quetzal-calendar-week></quetzal-calendar-week>
  <quetzal-calendar-week></quetzal-calendar-week>
  <quetzal-calendar-week></quetzal-calendar-week>

</template>

<script>
Polymer( "quetzal-calendar-month", {

  applyAuthorStyles: true,

  cultureChanged: function() {
    var culture = this.culture;
    this.weeks.forEach( function( week ) {
      week.culture = culture;
    });
    this._refresh();
  },

  // dayClass: Control.chain( "weeks", "dayClass", function() {
  //   return this._refresh();
  // } ),

  // The day elements in the month, returned as an array.
  get days() {
    var days = [];
    this.weeks.forEach( function( week ) {
      days = days.concat( week.days );
    });
    return days;
  },

  dateChanged: function() {
    this._refresh();
  },

  // dayControlForDate: function( date ) {
  //   return this.weekControlForDate( date ).dayControlForDate( date );
  // },

  ready: function() {
    this.super();
    if ( !this.date && typeof QuetzalCalendarDay.today !== "undefined" ) {
      // If no date is supplied, default to the current month.
      this.date = QuetzalCalendarDay.today();
    }
  },

  // weekControlForDate: function( date ) {
  //   var firstDayOfMonth, month, offset, weekIndex, weeks, weeksWithDate;
  //   weeksWithDate = ( function() {
  //     var _i, _len, _ref, _results;
  //     _ref = this.segments();
  //     _results = [];
  //     for ( _i = 0, _len = _ref.length; _i < _len; _i++ ) {
  //       month = _ref[_i];
  //       weeks = month.weeks();
  //       firstDayOfMonth = new Date( date.getTime() );
  //       firstDayOfMonth.setDate( 1 );
  //       offset = weeks.daysSinceFirstDayOfWeek( firstDayOfMonth );
  //       weekIndex = Math.floor( ( date.getDate() + offset - 1 ) / 7 );
  //       _results.push( weeks[weekIndex] );
  //     }
  //     return _results;
  //   } ).call( this );
  //   return $().add( weeksWithDate ).control();
  // },

  // The elements for the weeks in the month, returned as an array.
  get weeks() {
    return this.shadowRoot.querySelectorAll( "quetzal-calendar-week" ).array();
  },

  _refresh: function() {

    // Use midnight on the given date as a reference point.
    var firstDateOfMonth = QuetzalCalendarDay.midnightOnDate( this.date );
    firstDateOfMonth.setDate( 1 );

    // Get last day of month by going to first day of next month and backing up a day.
    var lastDateOfMonth = new Date( firstDateOfMonth.getTime() );
    lastDateOfMonth.setMonth( lastDateOfMonth.getMonth() + 1 );
    lastDateOfMonth.setDate( lastDateOfMonth.getDate() - 1 );

    // Fill in the weeks.
    var month = firstDateOfMonth.getMonth();
    this.weeks.forEach( function( week, i ) {
      var date = QuetzalCalendarDay.offsetDateByDays( firstDateOfMonth, 7 * i );
      if ( i > 0 ) {
        // Use first day of that week as reference.
        date = week.firstDateOfWeek( date );
      }
      week.date = date;
      // Hide weeks completely in another month (i.e., the next month).
      // Apply "hidden" class to preserve week's original "display" property.
      var firstDateOfWeek = week.firstDateOfWeek( date );
      var lastDateOfWeek = QuetzalCalendarDay.offsetDateByDays( firstDateOfWeek, 6 );
      var isWeekInMonth = ( firstDateOfWeek.getMonth() === month || lastDateOfWeek.getMonth() === month );
      week.classList.toggle( "outsideMonth", !isWeekInMonth );
    });
  }

} );
</script>

</polymer-element>
