<!--
Shows a culture's name for a given month.
-->

<link rel="import" href="../quetzal-element/quetzal-element.html">

<polymer-element name="quetzal-month-name" extends="quetzal-element" attributes="culture month">

<template>
  <style>
  :host {
    display: inline-block;
  }
  </style>
  <span id="name"></span>
</template>

<script>
// Static members
// TODO: Once Polymer supports constructor access here, use that instead.
QuetzalMonthName = {

  // Default names, used if Globalize is not avaialble.
  names: [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December"
  ]

};

Polymer( "quetzal-month-name", {
  
  applyAuthorStyles: true,

  cultureChanged: function() {
    // Force update of month name.
    this.monthChanged();
  },

  // The index of the month to show: 0 = January, 1 = February, etc.
  monthChanged: function() {
    culture = this.culture;
    monthNameEnum = culture ? culture.calendar.months.names : QuetzalMonthName.names;
    monthName = monthNameEnum[ this.month ];
    this.$.name.textContent = monthName;
  },

  ready: function() {
    this.super();
    if ( !this.month ) {
      // If no month is supplied, default to the current month.
      this.month = ( new Date() ).getMonth();
    }
  }

});
</script>

</polymer-element>
