<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">

<title>quetzal-calendar-month-with-headings</title>

<script src="../platform/platform.js"></script>

<!--
<script src="../components/globalize/lib/globalize.js"></script>
<script src="../components/globalize/lib/cultures/globalize.culture.ar.js"></script>
<script src="../components/globalize/lib/cultures/globalize.culture.fr.js"></script>
<script src="../components/globalize/lib/cultures/globalize.culture.ja.js"></script>
<script src="../components/globalize/lib/cultures/globalize.culture.th.js"></script>
-->

<link rel="import" href="quetzal-calendar-month-with-headings.html">

<style>
body,
button,
input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

body {
  margin: 0.5in;
}
</style>

<script>
// window.addEventListener( "WebComponentsReady", function() {
//   var calendar = document.querySelector( "#calendar" );
//   calendar.culture = Globalize.cultures.fr;
// });
</script>

</head>

<body>
  <quetzal-calendar-month-with-headings id="calendar"></quetzal-calendar-month-with-headings>
</body>

</html>
