<!--
A single day in a calendar.

A variety of CSS class will be applied to the host element that can assist with
styling common sorts of calendars.
-->

<link rel="import" href="../quetzal-element/quetzal-element.html">

<polymer-element name="quetzal-calendar-day" extends="quetzal-element" attributes="date">

<template>

  <style>
  :host([generic]:host) {
    padding: 4px;
  }
  :host([generic]:host) #date {
    text-align: right;
  }

  :host(.today:host) {
    color: darkred;
    font-weight: bold;
  }
  </style>

  <content>
    <div id="date"></div>
  </content>

</template>

<script>
// Static members
// TODO: Once Polymer supports constructor access here, use that instead.
QuetzalCalendarDay = {

  MILLISECONDS_IN_DAY: 24 * 60 * 60 * 1000,

  midnightOnDate: function( date ) {
    var d = new Date( date.getTime() );
    d.setHours(0);
    d.setMinutes(0);
    d.setSeconds(0);
    d.setMilliseconds(0);
    return d;
  },

  // Return the result of adding/subtracting a number of days to a date.
  offsetDateByDays: function( date, days ) {
    // Use noon hour for date math, since adding/subtracting multiples of 24 hours
    // starting from noon is guaranteed to end up on the correct date (although
    // the hours might have changed).
    var noon = new Date( date.getTime() );
    noon.setHours( 11 );
    var result = new Date( noon.getTime() + ( days * this.MILLISECONDS_IN_DAY ));
    // Restore original hours
    result.setHours( date.getHours() );
    return result;
  },

  // Returns midnight today.
  today: function() {
    return QuetzalCalendarDay.midnightOnDate( new Date() );
  }

};

Polymer( "quetzal-calendar-day", {
  
  applyAuthorStyles: true,

  // TODO: publish() date and accept both Date objects and date strings.
  dateChanged: function() {
    var date = this.date;
    this.$.date.textContent = date.getDate();
    var today = QuetzalCalendarDay.today();
    var dayOfWeek = date.getDay();
    var dayOfMonth = date.getDate();
    var nextDate = QuetzalCalendarDay.offsetDateByDays( date, 1 );
    var daysFromToday = Math.round( date.getTime() - today.getTime() ) / QuetzalCalendarDay.MILLISECONDS_IN_DAY;
    var weekend = ( dayOfWeek === 0 || dayOfWeek === 6 );
    var classList = this.classList;
    classList.toggle( "past", date < today );
    classList.toggle( "today", daysFromToday == 0 );
    classList.toggle( "future", date > today );
    classList.toggle( "firstDayOfMonth", dayOfMonth === 1 );
    classList.toggle( "lastDayOfMonth", date.getMonth() !== nextDate.getMonth() );
    classList.toggle( "firstWeek", dayOfMonth <= 7 );
    classList.toggle( "sunday", dayOfWeek === 0 );
    classList.toggle( "saturday", dayOfWeek === 6 );
    classList.toggle( "weekend", weekend );
    classList.toggle( "weekday", !weekend );
    classList.toggle( "alternateMonth", Math.abs( date.getMonth() - today.getMonth() ) % 2 === 1 );
  },

  ready: function() {
    this.super();
    if ( !this.date ) {
      // By default, show today.
      if ( typeof QuetzalCalendarDay.today !== "undefined" ) {
        this.date = QuetzalCalendarDay.today();
      }
    }
  }

});
</script>

</polymer-element>
