<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">

<title>quetzal-button</title>

<script src="../platform/platform.js"></script>

<link rel="import" href="quetzal-button.html">

<style>
body,
button,
input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

body {
  margin: 0.5in;
}
</style>

</head>

<body>
  <quetzal-button>Plain</quetzal-button>
  <!-- <button is="quetzal-button2">Plain 2</button> -->
  <!-- <button is="quetzal-button2" disabled>Disabled 2</button> -->
  <quetzal-button quiet>Quiet</quetzal-button>
  <!-- <button is="quetzal-button2" class="quiet">Quiet 2</button> -->
</body>

</html>
